---
import Layout from '../layouts/Layout.astro';
import ShadcnFoundationPreview from '../components/dev/ShadcnFoundationPreview';
---

<Layout title="UI Foundation Preview">
	<main class="mx-auto min-h-screen w-full max-w-4xl p-6">
		<ShadcnFoundationPreview client:load />
	</main>
</Layout>
